body,
html {
  margin: 0;
}

#nav {
  background-color: #ddb2be;
  color: #f6f6f6;
  width: 100%;
  padding: 12px 0;
}

#inputDiv {
  text-align: center;
  margin-top: 10px;
}

#canvas {
  /* border: 1px solid; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 500px;
  background: #ececec;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.bttnDownload {
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, 0); */
  bottom: 10px;
}
